<form>
    <div class="form-group">
      <label for="operandoA">Operando A</label>
      <input 
      type="number" name="operandoA" id="" class="form-control" placeholder="Escribe Operando A"      
      [(ngModel)]="operandoA"
      >
    </div>
    <div class="form-group">
        <label for="operandoB">Operando B</label>
        <input 
        type="number" name="operandoB" id="" class="form-control" placeholder="Escribe Operando B"
        [(ngModel)]="operandoB"
        >
    </div>
    <button type="submit" (click)="getResultado()">Sumar</button>
</form>
